* {
    margin: 0;
    padding: 0;
    font: justify;
}

body {
    font: 14px Georgia, serif;
    background: rgb(255, 149, 202);
}

article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: black;
}

h2 {
    font: 24px Georgia;
    margin: 0 0 10px 0;
}

p {
    margin: 0 0 20px 0;
}

#fluid-wrap {
    width: 70%;
    margin: 60px auto;
    padding: 20px;
    background: hotpink;
    overflow: hidden;
}

#sidebar {
    width: 35%;
    float: left;
}

#sidebar ul {
    list-style: none;
}

#sidebar ul li a {
    color: rgb(255, 209, 231);
    text-decoration: none;
    padding: 3px 0;
    display: block;
    font-size: 15px;
}

@media all  and (min-width: 1001px) {
    #sidebar ul li a:after {
        content: "   (" attr(data-email) ")";
        font-size: 11px;
        font-style: italic;
        color: crimson;
    }
}

@media all and (max-width: 1000px) and (min-width: 700px) {
    #sidebar ul li a:after {
        content: "(Email)";
        font-style: italic;
        color: rgb(0, 0, 0);
    }
}

@media all and (max-width: 700px) and (min-width: 500px), (min-width: 1200px) {
    #sidebar ul li a{
    padding-left: 24px;
	background-image : url('images.png') ;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: contain;
    }
}

#main-content {
    width: 65%;
    float: right;
}